@if (isLoginView) {
<form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLogin()">
  <h2>Iniciar sesión</h2>
  <p>Ingresa tus credenciales para acceder a tu cuenta</p>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="tu@ejemplo.com"
    />
    @if (getFormControl(loginForm, 'email')?.invalid &&
    getFormControl(loginForm, 'email')?.touched) {
    <div class="error-message">
      @if (getFormControl(loginForm, 'email')?.errors?.['required']) {
      <p>El correo electrónico es requerido.</p>
      } @if (getFormControl(loginForm, 'email')?.errors?.['email']) {
      <p>Por favor, ingrese un correo electrónico válido.</p>
      }
    </div>
    }
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <div class="password-input">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
        placeholder="••••••••"
      />
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="password-toggle"
      >
        <i class="fas fa-eye{{ showPassword ? '-slash' : '' }}">show</i>
      </button>
    </div>
    @if (getFormControl(loginForm, 'password')?.invalid &&
    getFormControl(loginForm, 'password')?.touched) {
    <div class="error-message">
      @if (getFormControl(loginForm, 'password')?.errors?.['required']) {
      <p>La contraseña es requerida.</p>
      } @if (getFormControl(loginForm, 'password')?.errors?.['minlength']) {
      <p>La contraseña debe tener al menos 6 caracteres.</p>
      }
    </div>
    }
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>

  @if (loginForm.valid && loginForm.touched) {
  <div class="success-message">
    <p>Formulario válido. Puede iniciar sesión.</p>
  </div>
  }

  <div class="no-account">
    <p>¿No tienes una cuenta?</p>
    <button type="button" (click)="isLoginView = false">Registrarse</button>
  </div>
</form>
} @else {
<!-- Register form -->
<form [formGroup]="registerForm" class="login-form" (ngSubmit)="onRegister()">
  <h2>Registrarse</h2>
  <p>Crea una nueva cuenta para acceder a nuestros servicios</p>

  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder="Tu nombre de usuario"
    />
    @if (getFormControl(registerForm, 'username')?.invalid &&
    getFormControl(registerForm, 'username')?.touched) {
    <div class="error-message">
      <p>El nombre de usuario es requerido.</p>
    </div>
    }
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="tu@ejemplo.com"
    />
    @if (getFormControl(registerForm, 'email')?.invalid &&
    getFormControl(registerForm, 'email')?.touched) {
    <div class="error-message">
      @if (getFormControl(registerForm, 'email')?.errors?.['required']) {
      <p>El correo electrónico es requerido.</p>
      } @if (getFormControl(registerForm, 'email')?.errors?.['email']) {
      <p>Por favor, ingrese un correo electrónico válido.</p>
      }
    </div>
    }
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <div class="password-input">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
        placeholder="••••••••"
      />
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="password-toggle"
      >
        <i class="fas fa-eye{{ showPassword ? '-slash' : '' }}">show</i>
      </button>
    </div>
    @if (getFormControl(registerForm, 'password')?.invalid &&
    getFormControl(registerForm, 'password')?.touched) {
    <div class="error-message">
      @if (getFormControl(registerForm, 'password')?.errors?.['required']) {
      <p>La contraseña es requerida.</p>
      } @if (getFormControl(registerForm, 'password')?.errors?.['minlength']) {
      <p>La contraseña debe tener al menos 6 caracteres.</p>
      }
    </div>
    }
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>

  @if (registerForm.valid && registerForm.touched) {
  <div class="success-message">
    <p>Formulario válido. Puede registrarse.</p>
  </div>
  }

  <div class="no-account">
    <p>¿Ya tienes una cuenta?</p>
    <button type="button" (click)="isLoginView = true">Iniciar sesión</button>
  </div>
</form>
}
