/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #d4d2d2;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// en mobile no se puede hacer scroll horizontal
@media (max-width: 768px) {
  .carousel-section {
    overflow-x: hidden;
  }
}
